.container
    width: 80vw
    display: grid
    margin: auto
.title
    position: relative
    left: 11vw
    top: 3.3rem
    margin: 0
    font-size: 8rem
    z-index: 9
.item
    box-sizing: border-box
    padding: 1rem 8vw
    height: 40rem
    display: flex
    flex-direction: column
    justify-content: space-evenly
.small
    padding: 1rem 4vw
    justify-content: space-around
.item:hover
    span:first-child
        transform: translateY(-1rem)
    span:nth-child(3)
        transform: translateY(1rem)

.webdev
    background: url("../Image/webdev.png")
    &:hover > p
        opacity: 1
        right: -3rem
.csstrick
    background: url("../Image/csst.png")
    &:hover > p
        opacity: 1
        left: -3rem
.data
    background: url("../Image/crawl.png")
    &:hover > p
        opacity: 1
        right: -3rem
.manggon
    background: url("../Image/manggon.png")
    &:hover > p
        opacity: 1
        left: -3rem
