.sm
    grid-area: span 2 / span 1
.xl
    grid-area: span 4 / span 1
.left
    transform: rotate(-90deg)
    transform-origin: 0 0
    left: -1rem
.right
    transform: rotate(90deg)
    transform-origin: 100% 0
    right: 0
@font-face
    font-family: Google Sansa
    src: url("../fonts/a.ttf") format('truetype')
a
    text-decoration: none
html
    font-size: clamp(12px,calc(.7rem + .25vw),20px)
body
    font-family: Google Sansa
    background-color: #0d1117
    color: #ffffff
    font-size: 1.3rem
    margin: 0
    padding: 0
    padding-bottom: 3rem
    content-visibility: auto
    overflow-x: hidden
h1
    font-size: 6rem
    font-weight: 700
