.purple {
  color: #9562ff;
}

.blue {
  color: #52b2f2;
}

.cyan {
  color: #00c3ff;
}

.yellow {
  color: #ffc100;
}

.red {
  color: #ea3160;
}

body {
  margin: 0;
  padding: 0;
  font-family: Google Sans, sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #181818 !important;
  color: #ffffff !important;
  font-size: 2rem;
  overflow-x: hidden;
  width: 100vw;
  overflow-x: clip;
}

body p, body ul {
  font-size: calc(12px + 1vw);
}

h1 {
  font-size: calc(15px + 8vw) !important;
  line-height: calc(18px + 8vw);
  font-weight: 700;
  margin: 0;
}

header {
  background-color: #181818;
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9rem;
  padding: 1px;
  top: 0;
  width: 99vw;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin: 1.3rem 0;
}

header div .logo {
  color: #fff;
  font-size: 1.4rem;
}

header div a {
  text-decoration: none;
  color: #9d9d9d;
  font-weight: 500;
  padding: 0 20px;
}

header div i {
  color: #ffffff;
}

header div a:hover {
  color: white;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50%, #000000), color-stop(50%, white), to(white));
  background: linear-gradient(to right, black 0%, black 50%, #000000 50%, white 50%, white 100%);
}

.landing h1 {
  font-size: calc(30px + 10vw);
}

.landing p {
  position: absolute;
  bottom: 0;
}

.landing b {
  color: #000;
}

.intro {
  height: 70vh;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 3rem;
}

.intro p {
  color: #bbbbbb;
  margin: 0 0 4vh 0;
}

.intro a {
  font-size: calc(18px + 1vw);
  background-color: #0099ff;
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  border-radius: 25px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.intro a:hover > i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.intro i {
  margin-left: 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.intro a:hover {
  background-color: #00aaff;
}

.new {
  height: 100vh;
  text-align: left;
  margin: 0;
}

.new h1, .new p {
  padding: 0;
}

.new a {
  padding: 10px;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.new a:hover {
  position: relative;
  top: 15px;
}

.grid {
  height: 60vh;
  line-height: 3rem;
  padding-left: 6vw;
}

.grid a {
  color: white;
}

.grid .grid__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .grid__element p {
  margin: 0;
  font-size: calc(18px + 1vw);
}

.grid .grid__element i {
  width: 70px;
  height: 70px;
  font-size: 2rem;
  background: #2b2b2b;
  background: linear-gradient(135deg, #2b2b2b 0%, #232323 100%);
  margin: 0 2vw 0 0;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  height: 100vh;
  width: 70vw;
  padding-top: 5%;
}

.about ul {
  padding: 0;
}

.contact {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  margin-bottom: 30px;
}

.contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact div i::before {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 49%;
}

.contact div a {
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact div a:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.body p {
  width: calc(50px + 50vw);
}

.body h1, .body p, .body ul {
  margin-left: 10vw;
}

@media screen and (max-width: 600px) {
  .body {
    width: 80vw;
  }
  .body h1, .body p, .body ul {
    margin-left: 5vw;
  }
  .grid {
    padding: 100px 4vw 10px 5vw;
  }
  .grid a:hover {
    position: relative;
    top: 15px;
  }
  header div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */