.landing {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50%, #000000), color-stop(50%, white), to(white));
  background: linear-gradient(to right, black 0%, black 50%, #000000 50%, white 50%, white 100%);
}

.landing h1 {
  font-size: calc(20px + 10vw);
}

.landing p {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
}

.landing b {
  color: #000;
}

.intro {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 3rem;
  height: 50rem;
}

.intro p {
  color: #bbbbbb;
}

.intro a {
  display: inline-block;
  font-size: calc(18px + 1vw);
  background-color: #21262d;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3rem;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.intro a:hover {
  background-color: #00aaff;
}

.aboutme {
  position: relative;
}

.aboutme figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 90vh;
  width: 80vw;
  overflow: hidden;
  margin: 0 auto;
  background: #161b22;
}

.aboutme figcaption {
  padding: 4rem 1.5rem;
  position: relative;
}

.aboutme .description {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: justify;
}

.aboutme .line {
  width: 10rem;
  height: 2.6px;
  background: #fff;
  margin: 1rem 0;
}

.aboutme #mail {
  word-break: break-all;
  font-size: 3rem;
  color: #ffffff;
}

.aboutme .social_icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 3rem;
}

.aboutme a {
  margin-right: 3rem;
}

.aboutme a:hover > img {
  -webkit-filter: none;
          filter: none;
  background: #fff;
  border-radius: 50%;
}

.aboutme #copy-alert {
  position: absolute;
  top: 10rem;
  font-size: 2rem;
  width: 12rem;
  z-index: -99;
  left: 40%;
}

.aboutme #copy-alert.show {
  -webkit-animation: float 1s ease-in-out;
          animation: float 1s ease-in-out;
}

.aboutme .image {
  background-image: url("../Image/portraitv2.png");
  background-size: cover;
  background-position: 30%;
}

.aboutme .copy_btn {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  width: 3rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.knowledge svg {
  display: block;
  margin: 0 auto;
  width: 175px;
}

.knowledge span {
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.knowledge path {
  -webkit-transform: scaleX(11) scaleY(10);
          transform: scaleX(11) scaleY(10);
}

.knowledge h2 {
  font-size: 4rem;
  margin: 5px 0;
}

.knowledge p {
  margin: .8rem 0;
}

.knowledge section {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.knowledge section div {
  text-align: center;
}

.knowledge .web {
  background: #3bab87;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.knowledge .code {
  background: #98bec8;
}

.knowledge .design {
  background: #d1e1e0;
  color: #26555d;
}

.works section {
  height: 120vh;
  grid-gap: 1rem;
  -ms-grid-rows: (1fr)[6];
  -ms-grid-columns: 1fr 1fr;
      grid-template: repeat(6, 1fr)/1fr 1fr;
}

.works section div {
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.works section div:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.works section div p {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  bottom: -1rem;
}

.container {
  width: 80vw;
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.title {
  position: relative;
  left: 11vw;
  top: 3.3rem;
  margin: 0;
  font-size: 8rem;
  z-index: 9;
}

.item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 8vw;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.small {
  padding: 1rem 4vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item:hover span:first-child {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.item:hover span:nth-child(3) {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.webdev {
  background: url("../Image/webdev.png");
}

.webdev:hover > p {
  opacity: 1;
  right: -3rem;
}

.csstrick {
  background: url("../Image/csst.png");
}

.csstrick:hover > p {
  opacity: 1;
  left: -3rem;
}

.data {
  background: url("../Image/crawl.png");
}

.data:hover > p {
  opacity: 1;
  right: -3rem;
}

.manggon {
  background: url("../Image/manggon.png");
}

.manggon:hover > p {
  opacity: 1;
  left: -3rem;
}

header {
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 5rem;
  width: 100vw;
}

header div {
  background-color: #161b22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div .logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

header div .logo i {
  float: left;
}

header div .logo p {
  float: right;
}

header div input {
  display: none;
}

header div label {
  position: absolute;
  left: 20px;
  display: none;
  z-index: 999;
  cursor: pointer;
}

header div label svg {
  margin: 0;
  fill: white;
  display: block;
}

header .button {
  font-size: 1.42rem;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .button__bg {
  position: absolute;
  width: 8rem;
  height: 4rem;
  background: rgba(225, 225, 225, 0.2);
  border-radius: 1.5rem;
  opacity: 0;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header a {
  z-index: 2;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  width: 8rem;
}

header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a:nth-child(1):hover ~ .button__bg {
  -webkit-transform: translateX(calc(8rem * 1 - 8rem));
          transform: translateX(calc(8rem * 1 - 8rem));
  opacity: 1;
}

header a:nth-child(2):hover ~ .button__bg {
  -webkit-transform: translateX(calc(8rem * 2 - 8rem));
          transform: translateX(calc(8rem * 2 - 8rem));
  opacity: 1;
}

header a:nth-child(3):hover ~ .button__bg {
  -webkit-transform: translateX(calc(8rem * 3 - 8rem));
          transform: translateX(calc(8rem * 3 - 8rem));
  opacity: 1;
}

a {
  text-decoration: none;
}

html {
  font-size: clamp(6px, calc(.5rem + .26vw), 20px);
}

body {
  font-family: Google Sansa;
  background-color: #0d1117;
  color: #ffffff;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
  content-visibility: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
}

.sm {
  grid-area: span 2 / span 1;
}

.xl {
  grid-area: span 4 / span 1;
}

.left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  left: -1rem;
}

.right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  right: 0;
}

@font-face {
  font-family: Google Sansa;
  src: url("../fonts/a.ttf") format("truetype");
}

@-webkit-keyframes float {
  0% {
    top: 8rem;
    opacity: 0;
  }
  20% {
    top: 5rem;
    opacity: 1;
  }
  50% {
    top: 5rem;
    opacity: 1;
  }
  80% {
    top: 5rem;
    opacity: 1;
  }
  100% {
    top: 8rem;
    opacity: 0;
  }
}

@keyframes float {
  0% {
    top: 8rem;
    opacity: 0;
  }
  20% {
    top: 5rem;
    opacity: 1;
  }
  50% {
    top: 5rem;
    opacity: 1;
  }
  80% {
    top: 5rem;
    opacity: 1;
  }
  100% {
    top: 8rem;
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  header label {
    display: block !important;
  }
  header .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #0d1117;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: -100vw;
    z-index: 100;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    padding: 10rem 0;
  }
  header .button a {
    font-size: 3rem;
    padding: 0 !important;
    margin: 2rem 0;
  }
  header input:checked ~ .button {
    left: 0 !important;
  }
  header .logo p {
    display: none;
  }
  .knowledge section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .knowledge .item {
    height: auto;
  }
  .knowledge .web {
    grid-area: span 2 / span 1;
  }
  .aboutme figure {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .aboutme figure div {
    display: none;
  }
  .works .container {
    -ms-grid-rows: (1fr)[12];
    -ms-grid-columns: 1fr;
        grid-template: repeat(12, 1fr)/1fr;
    height: 240vh;
  }
}
/*# sourceMappingURL=main.css.map */