$transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)
$blackandwhite: linear-gradient(to right, black 0%,black 50%,#000000 50%,white 50%,white 100%)
.landing
    height: 100vh
    width: 100vw
    display: flex
    position: relative
    flex-direction: column
    align-items: center
    justify-content: center
    background: $blackandwhite
    h1
        font-size: calc(20px + 10vw)
    p
        position: absolute
        bottom: 0
        font-size: 2rem
    b
        color: #000
.intro
    font-size: 1.6rem
    text-align: center
    padding-top: 3rem
    height: 50rem
    padding: 20rem 0 0 0
    &__knowmore
        display: inline-block
        font-size: calc(18px + 1vw)
        background-color: #21262d
        text-decoration: none
        color: white
        padding: 0.5em 1em
        border-radius: 3rem
        transition: .15s ease-in-out
        &:hover
            background-color: #00aaff
    .typewrite
        min-height: 15rem
        .wrap
            border-right: 3px solid white
.aboutme
    position: relative
    figure
        display: grid
        grid-template-columns: 1fr 1fr
        height: 90vh
        width: 80vw
        overflow: hidden
        margin: 0 auto
        background: #161b22
    figcaption
        padding: 4rem 1.5rem
        position: relative
    .description
        font-size: 1.5rem
        line-height: 2.4rem
        text-align: justify
    .line
        width: 10rem
        height: 2.6px
        background: #fff
        margin: 1rem 0
    #mail
        word-break: break-all
        font-size: 3rem
        color: #ffffff
    .social_icon
        filter: invert(1)
        transition: .3s $transition
        width: 3rem
    a
        margin-right: 3rem
    a:hover > img
        filter: none
        background: #fff
        border-radius: 50%
    #copy-alert
        position: absolute
        top: 10rem
        font-size: 2rem
        width: 12rem
        z-index: -99
        left: 40%
        &.show
            animation: float 1s ease-in-out
    .image
        background-image: url("../Image/portraitv2.png")
        background-size: cover
        background-position: 30%
    .copy_btn
        cursor: pointer
        position: absolute
        right: 2rem
        width: 3rem
        filter: invert(1)
.knowledge
    svg
        display: block
        margin: 0 auto
        width: 175px
    span
        transition: 0.3s $transition
    path
        transform: scaleX(11) scaleY(10)
    h2
        font-size: 4rem
        margin: 5px 0
    p
        margin: .8rem 0
    section
        grid-template-columns: 1fr 1fr
        div
            text-align: center
    .web
        background: #3bab87
        grid-column: 1 / span 2
    .code
        background: #98bec8
    .design
        background: #d1e1e0
        color: #26555d
.works
    section
        height: 120vh
        grid-gap: 1rem
        grid-template: repeat(6,1fr) / 1fr 1fr
        div
            background-size: cover
            border-radius: 1rem
            position: relative
            filter: grayscale(1)
            transition: .5s $transition
            &:hover
                filter: grayscale(0)
            p
                font-size: 2rem
                position: absolute
                opacity: 0
                transition: .5s $transition
                bottom: -1rem
@import "abstract"
@import "header"
@import "utils"
