@import "color"

@font-face
        font-family: 'Poppins'
        font-style: normal
        font-display: swap
        font-weight: 400
        src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

@font-face
        font-family: 'Poppins'
        font-style: normal
        font-display: swap
        font-weight: 400
        src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

body
    font-family: Poppins, sans-serif
    background-color: #181818 !important
    color: #ffffff !important
    font-size: 2rem
    overflow-x: hidden
    width: 100vw
    overflow-x: clip
    p, ul
        font-size: calc(12px + 1vw)
h1
    font-size: calc(15px + 8vw) !important
    line-height: calc(18px + 8vw)
    font-weight: 700
    margin: 0
header
    background-color: #181818
    line-height: 2rem
    display: flex
    font-size: .9rem
    padding: 1px
    top: 0
    width: 99vw
    position: sticky
    justify-content: center
    align-items: center
    div
        display: flex

        margin-top: 1rem
        margin: 1.3rem 0
        .logo
            color: #fff
            font-size: 1.4rem
        a
            text-decoration: none
            color: #9d9d9d
            font-weight: 500
            padding: 0 20px
        i
            color: #ffffff
        a:hover
            color: white

.landing
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: linear-gradient(to right, black 0%,black 50%,#000000 50%,white 50%,white 100%)
    h1
        font-size: calc(30px + 10vw)
    p
        position: absolute
        bottom: 0
    b
        color: #000
.intro
    height: 70vh
    font-size: 1.6rem
    text-align: center
    padding-top: 3rem
    p
        color: #bbbbbb
        margin: 0 0 4vh 0
    a
        font-size: calc(18px + 1vw)
        background-color: #0099ff
        text-decoration: none
        color: white
        padding: 15px 20px
        border-radius: 25px
        transition: .2s ease-in-out
    a:hover > i
        transform: rotate(90deg)
    i
        margin-left: 10px
        transition: .2s ease-in-out
    a:hover
        background-color: #00aaff
.new
    height: 100vh
    text-align: left
    margin: 0
    h1,p
        padding: 0
    a
        padding: 10px
        color: white
        transition: .2s ease-in-out
    a:hover
        position: relative
        top: 15px
.grid
    height: 60vh
    line-height: 3rem
    padding-left: 6vw
    a
        color: white
    .grid__element
        display: flex
        align-items: center
        p
            margin: 0
            font-size: calc(18px + 1vw)
        i
            width: 70px
            height: 70px
            font-size: 2rem
            background: rgb(43,43,43)
            background: linear-gradient(135deg, rgba(43,43,43,1) 0%, rgba(35,35,35,1) 100%)
            margin: 0 2vw 0 0
            border-radius: 20px
            display: flex
            justify-content: center
            align-items: center
.about
    height: 100vh
    width: 70vw
    padding-top: 5%
    ul
        padding: 0
.contact
    padding-top: 20vh
    display: flex
    flex-direction: column
    justify-content: space-around
    height: 40vh
    margin-bottom: 30px
    div
        display: flex
        justify-content: space-around   
        i::before
            color: white
            background-color: black
            padding: 10px
            border-radius: 49%
        a
            border-radius: 50%
            background-color: #fff
            display: inline-block
            transition: .3s ease-in-out
        a:hover
            filter: invert(1)
.body
    p
        width: calc(50px + 50vw)
    h1,p,ul
        margin-left: 10vw
@media screen and ( max-width: 600px )
    .body
        width: 80vw
        h1,p,ul
            margin-left: 5vw
    .grid
        padding: 100px 4vw 10px 5vw
        a:hover
            position: relative
            top: 15px
    header
        div
            flex-direction: column