body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: #000;
  color: #fff;
}

#bg {
  position: fixed;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -9;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: clamp(14px, 3vw, 22px);
}

.max-width {
  height: 100%;
  max-width: 1100px;
  padding: 10rem 1rem 0 1rem;
  margin: auto;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 700;
  font-size: 4rem;
}

.home {
  position: relative;
  height: 100vh;
}

.home .blue {
  color: #2980b9;
}

.home article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home #typewrite {
  margin: 0;
}

.home .wrap {
  border-right: 3px solid #808080;
}

.home h1 {
  margin: 0;
}

.logo {
  z-index: 99;
  position: fixed;
  right: 8vw;
  top: 4rem;
  mix-blend-mode: difference;
}

.logo img {
  width: 100px;
  height: 100px;
}

.logo a {
  z-index: 99;
}

.logo a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.logo a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.about {
  overflow-x: hidden;
}

.about h1 {
  font-size: 4rem;
}

.about .portrait {
  margin-left: -1rem;
  width: 100vw;
  height: 45vw;
  overflow: hidden;
}

.about .portrait img {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  width: 100%;
}

.about h2 {
  font-size: 2.5rem;
}

.about b {
  font-size: 1.5rem;
}

.about .about__description {
  max-width: 30rem;
  padding-right: 1rem;
  margin: 3rem auto;
}

.works__title {
  font-size: 4rem;
}

.works__container {
  grid-template: "a a" "b c" "d d";
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.works__container .works__rectangle {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.works__container .works__rectangle .line {
  margin: auto;
  width: 3rem;
  height: 2px;
  background: #fff;
  margin-top: 2rem;
}

.works__container .works__rectangle h2 {
  font-size: 2rem;
  margin: 1rem;
}

.works__container .works__rectangle:hover .work__name {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.works__container .works__rectangle:hover .work__desc {
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.works__container .works__rectangle:hover .work__desc .line {
  width: 4rem;
}

.works__container .works__rectangle:hover .work__header {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.works__container .works__rectangle .work__header {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: .8rem;
  padding: 1rem;
  background: #000;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.sm {
  grid-area: span 1 / span 1;
}

.xl {
  grid-area: span 1 / span 2;
}

.greenworld {
  background: #334756;
}

.sortvisualizer {
  background: #082032;
}

.new {
  background: #CDBBA7;
}

.contact section {
  color: #2980b9;
}

.contact section p {
  cursor: pointer;
  margin: 0;
  -webkit-transition: 0.3s cubic-bezier(0.2, 0.6, 0.2, 1);
  transition: 0.3s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.contact section a {
  -webkit-transition: 0.3s cubic-bezier(0.2, 0.6, 0.2, 1);
  transition: 0.3s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.contact section p::before {
  content: "hoangnguyen.hn212.hn@gmail.com";
}

.contact section p:hover,
.contact section a:hover {
  padding-left: 1rem;
}

.contact section p:hover::before {
  content: "Copy email to clipboard";
}

.contact section p:active::before {
  content: "Email copied";
}

@media (max-width: 900px) {
  .works__title {
    font-size: 3rem;
  }
  .works .works__container {
    width: 100%;
    grid-template: "a" "b" "c" "d";
  }
  .works .works__container .sm,
  .works .works__container .xl {
    grid-area: span 1 / span 1;
  }
}
/*# sourceMappingURL=main.css.map */