$transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  background: #000;
  color: #fff;
}

.bg {
  background: url(../image/bg1.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;
  inset: 0;
  z-index: -11;
  filter: brightness(.6) contrast(.9) saturate(.7);
}

* {
  box-sizing: border-box;
  transition: .3s $transition;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: clamp(14px, 3vw, 20px);
}

.max-width {
  height: 100%;
  max-width: 1100px;
  padding: 5rem 1.5rem 0 1.5rem;
  margin: auto;
}

h1,
h2 {
  line-height: 1.1;
  font-weight: 800;
  font-size: 4rem;
}

@import "components/home";
@import "components/about";
@import "components/works";
@import "components/contact";
@import "components/media";