.about {
  overflow-x: hidden;

  h1 {
    font-size: 4rem;
  }

  .portrait {
    margin-left: -1rem;
    width: 100vw;
    height: 45vw;
    overflow: hidden;

    img {
      transform: translateY(-25%);
      width: 100%;
    }
  }

  h2 {
    font-size: 2.5rem;
  }

  b {
    font-size: 1.5rem;
  }

  .about__description {
    max-width: 30rem;
    padding-right: 1rem;
    margin: 3rem auto;
  }
}