.about {
  overflow-x: hidden;

  h1 {
    font-size: 4rem;
  }

  .portrait {
    margin-left: -1.5rem;
    width: 100vw;
    height: 40vw;
    background-image: url(../image/portrait.jpg);
    background-size: cover;
    background-position: center;
  }

  b {
    font-size: 1.75rem;
  }

  &__description {
    max-width: 30rem;
    padding-right: 1rem;
    margin: 3rem auto;
  }
}