.blue {
  color: #2980b9;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex-column {
  flex-direction: column;
}

.sm {
  grid-area: span 1 / span 1;
}

.xl {
  grid-area: span 1 / span 2;
}

.full_parent {
  inset: 0;
}

.z-1{
  z-index: 1;
}

.z-99{
  z-index: 99;
}