.works__title {
  font-size: 4rem;
}

.works__container {
  grid-template:
    "a a"
    "b c"
    "d d";
  // width: 100%;
  display: grid;
  margin: auto;

  .works__rectangle {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .line {
      margin: auto;
      width: 3rem;
      height: 2px;
      background: #fff;
      margin-top: 2rem;
    }

    h2 {
      font-size: 2rem;
      margin: 1rem;
    }

    &:hover {
      .work__name {
        transform: translateY(-.5rem);
      }

      .work__desc {
        transform: translateY(.5rem);

        .line {
          width: 4rem;
        }
      }

      .work__header {
        transform: scaleY(1);
      }

    }

    .work__header {
      position: absolute;
      right: 1rem;
      top: 0;
      font-size: .8rem;
      padding: 1rem;
      background: #000;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }
}

.sm {
  grid-area: span 1 / span 1;
}

.xl {
  grid-area: span 1 / span 2;
}

.greenworld {
  background: #334756;
}

.sortvisualizer {
  background: #082032;
}

.new {
  background: #CDBBA7;
}